### Sequence, Set and Dict data types

https://github.com/learnbyexample/Python_Basics/blob/master/Sequence_Set_Dict_data_types.md

In [1]:
book = "Alchemist"

In [2]:
book[0], book[3], book[-1]

('A', 'h', 't')

In [3]:
book[2:6]

'chem'

In [4]:
book[:5]

'Alche'

In [5]:
book[::-1], book[::-2]

('tsimehclA', 'tiecA')

In [7]:
list(book), set(book)

(['A', 'l', 'c', 'h', 'e', 'm', 'i', 's', 't'],
 {'A', 'c', 'e', 'h', 'i', 'l', 'm', 's', 't'})

In [8]:
list(book) + list(book)

['A',
 'l',
 'c',
 'h',
 'e',
 'm',
 'i',
 's',
 't',
 'A',
 'l',
 'c',
 'h',
 'e',
 'm',
 'i',
 's',
 't']

In [9]:
 k = _

In [10]:
len(k)

18

In [11]:
set(k)

{'A', 'c', 'e', 'h', 'i', 'l', 'm', 's', 't'}

In [12]:
len(set(k))

9

In [13]:
import string

In [14]:
string.ascii_lowercase[:10]

'abcdefghij'

In [15]:
list(string.digits)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [20]:
?string

In [21]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
list(string.punctuation)

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [23]:
for char in book:
    print(char)

A
l
c
h
e
m
i
s
t

In [24]:
book

'Alchemist'

In [25]:
len(book)

9

In [29]:
book.capitalize(),book.casefold()

TypeError: count() takes at least 1 argument (0 given)

In [31]:
#press shift+tab to know more
"ggg".count("gg")

1

In [32]:
"ggg".count("g")

3

In [33]:
"gggg".count("gg")

2

https://www.geeksforgeeks.org/python-string-count/

In [34]:
book.index('A')

0

In [38]:
book.index("he")

3

In [39]:
book.index("hm")

ValueError: substring not found

In [40]:
book.find("he")

3

In [43]:
book.find("hm") #similar to .index but no error shown when substring not avaiable

-1

In [44]:
'A' in book

True

In [45]:
'z' not in book

True

In [46]:
min('zealous')

'a'

In [47]:
max('zealous')

'z'

#### Tuples

In [48]:
north_dishes = ('Aloo tikki', 'Baati', 'Khichdi', 'Makki roti', 'Poha')

In [49]:
north_dishes[0]

'Aloo tikki'

In [50]:
north_dishes[-1]

'Poha'

In [51]:
north_dishes[::-1]

('Poha', 'Makki roti', 'Khichdi', 'Baati', 'Aloo tikki')

In [53]:
north_dishes[::-1][:3]

('Poha', 'Makki roti', 'Khichdi')

In [54]:
north_dishes[6]

IndexError: tuple index out of range

In [55]:
 north_dishes[0] = 'Poori'

TypeError: 'tuple' object does not support item assignment

In [56]:
'roti' in north_dishes

False

In [57]:
len(north_dishes)

5

In [58]:
min(north_dishes)

'Aloo tikki'

In [59]:
for dish in north_dishes:
    print(dish)

Aloo tikki
Baati
Khichdi
Makki roti
Poha

Tuple is handy for multiple variable assignment and returning more than one value in functions

In [60]:
def min_max(arr):
    return min(arr), max(arr)

In [61]:
min_max([23, 53, 1, -34, 9])

(-34, 53)

In [62]:
words = 'day', 'night' #using () is always not required

In [63]:
words

('day', 'night')

In [64]:
prime = [2, 3, 5, 7, 11]

In [65]:
prime_tuple = tuple((idx + 1, num) for idx, num in enumerate(prime))

In [66]:
prime_tuple

((1, 2), (2, 3), (3, 5), (4, 7), (5, 11))

In [67]:
tuple('books')

('b', 'o', 'o', 'k', 's')

In [68]:
a = [321, 899.232, 5.3, 2, 1, -1]

In [69]:
a = [(1,2), ['a', 'b'], ('good', 'bad')]

Set is unordered collection of objects

Mutable data type`

In [70]:
primes = {3, 2, 11, 3, 5, 13, 2}

In [71]:
primes

{2, 3, 5, 11, 13}

In [72]:
nums = {3, 2, 5, 7, 1, 6.3}

In [73]:
nums.union(primes)

{1, 2, 3, 5, 6.3, 7, 11, 13}

In [74]:
primes.difference(nums)

{11, 13}

In [75]:
nums.difference(primes)

{1, 6.3, 7}

In [76]:
len(nums)

6

In [77]:
book

'Alchemist'

In [78]:
set(book)

{'A', 'c', 'e', 'h', 'i', 'l', 'm', 's', 't'}

### Dictionary

In [79]:
marks = {'Rahul' : 86, 'Ravi' : 92, 'Rohit' : 75}

In [80]:
marks

{'Rahul': 86, 'Ravi': 92, 'Rohit': 75}

In [81]:
fav_books = {}

In [82]:
fav_books['fantasy']   = 'Harry Potter'
fav_books['detective'] = 'Sherlock Holmes'
fav_books['thriller']  = 'The Da Vinci Code'

In [83]:
fav_books

{'detective': 'Sherlock Holmes',
 'fantasy': 'Harry Potter',
 'thriller': 'The Da Vinci Code'}

In [84]:
marks.keys()

dict_keys(['Rohit', 'Rahul', 'Ravi'])

In [85]:
fav_books.values()

dict_values(['Sherlock Holmes', 'Harry Potter', 'The Da Vinci Code'])

In [86]:
for book in fav_books.values():
    print(book)

Sherlock Holmes
Harry Potter
The Da Vinci Code

In [87]:
for name, mark in marks.items():
    print(name, mark, sep=': ')

Rohit: 75
Rahul: 86
Ravi: 92

In [88]:
import pprint

In [89]:
pp = pprint.PrettyPrinter(indent=4)

In [92]:
pp.pprint(fav_books)

{   'detective': 'Sherlock Holmes',
    'fantasy': 'Harry Potter',
    'thriller': 'The Da Vinci Code'}

In [93]:
marks

{'Rahul': 86, 'Ravi': 92, 'Rohit': 75}

In [94]:
marks['Rajan'] = 79

In [95]:
del marks['Ravi']

In [97]:
marks

{'Rahul': 86, 'Rajan': 79, 'Rohit': 75}

In [98]:
fav_books

{'detective': 'Sherlock Holmes',
 'fantasy': 'Harry Potter',
 'thriller': 'The Da Vinci Code'}

In [99]:
"fantasy" in fav_books

True

In [100]:
marks = {'Rahul' : 86, 'Ravi' : 92, 'Rohit' : 75, 'Rajan': 79}

In [101]:
marks

{'Rahul': 86, 'Rajan': 79, 'Ravi': 92, 'Rohit': 75}

From Python v3.7 onwards, dict implementation will retain insertion order

In [104]:
name = "Eric"
"Hello, %s." % name

'Hello, Eric.'

In [105]:
age = 74
"Hello, {}. You are {}.".format(name, age)

'Hello, Eric. You are 74.'

In [106]:
person = {'name': 'Eric', 'age': 74}

In [107]:
"Hello, {name}. You are {age}.".format(**person)

'Hello, Eric. You are 74.'

In [109]:
for name, mark in marks.items():
    print('{}: {}'.format(name, mark))

Rohit: 75
Rajan: 79
Rahul: 86
Ravi: 92

In [112]:
for name, mark in marks.items():
    print('%5s: %s'%(name,age)) #observe the change from the above

Rohit: 74
Rajan: 74
Rahul: 74
 Ravi: 74

In [113]:
from collections import defaultdict

In [114]:
s = 'mississippi'

In [115]:
d = defaultdict(int)

In [116]:
for k in s:
    print(d[k])
    d[k] += 1

0
0
0
1
1
2
3
2
0
1
3

In [117]:
d.items()

dict_items([('m', 1), ('i', 4), ('s', 4), ('p', 2)])

In [122]:
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]

In [123]:
 d = defaultdict(list)

In [124]:
for k, v in s:
    print(k,d[k])
    d[k].append(v)

yellow []
blue []
yellow [1]
blue [2]
red []

In [125]:
d.items()

dict_items([('blue', [2, 4]), ('red', [1]), ('yellow', [1, 3])])

In [127]:
somedict = {}
print(somedict[3]) # KeyError

KeyError: 3

In [128]:
someddict = defaultdict(int)
print(someddict[3]) # print int(), thus 0

0

In [130]:
s = 'mississippi'

In [131]:
d = defaultdict(lambda:1)
for k in s:
    print(k,d[k])
    d[k] += 1

m 1
i 1
s 1
s 2
i 2
s 3
s 4
i 3
p 1
p 2
i 4

https://stackoverflow.com/questions/30356892/defaultdict-with-default-value-1/30357006

In [135]:
list(zip(range(1,10),range(50,61)))

[(1, 50),
 (2, 51),
 (3, 52),
 (4, 53),
 (5, 54),
 (6, 55),
 (7, 56),
 (8, 57),
 (9, 58)]

In [132]:
d=dict(zip(range(1,10),range(50,61)))

In [133]:
d

{1: 50, 2: 51, 3: 52, 4: 53, 5: 54, 6: 55, 7: 56, 8: 57, 9: 58}

In [136]:
from collections import defaultdict
d=defaultdict(int, zip(range(1,10),range(50,61))) #converting dict to default dict

In [137]:
d

defaultdict(int,
            {1: 50, 2: 51, 3: 52, 4: 53, 5: 54, 6: 55, 7: 56, 8: 57, 9: 58})

In [148]:
from collections import defaultdict
d=dict(zip(range(1,10),range(50,61)))
my_default_dict = defaultdict(int,Out[133]) #magic of jupyter

In [149]:
my_default_dict

defaultdict(int,
            {1: 50, 2: 51, 3: 52, 4: 53, 5: 54, 6: 55, 7: 56, 8: 57, 9: 58})

In [150]:
from collections import OrderedDict

In [151]:
my_dictionary=OrderedDict()

In [152]:
my_dictionary['foo']=3
my_dictionary['aol']=1
my_dictionary

OrderedDict([('foo', 3), ('aol', 1)])

#### List

In [153]:
a = [1,2,3,4]
b = [x for x in a]

In [154]:
b

[1, 2, 3, 4]

In [155]:
a = [[1,2],[3,4],[5,6]]
b = [x for xs in a for x in xs]

In [156]:
b

[1, 2, 3, 4, 5, 6]

In [157]:
x = [1, 2, 3]
x.append([4, 5])
print (x)

[1, 2, 3, [4, 5]]

In [158]:
x = [1, 2, 3]
x.extend([4, 5])
print (x)

[1, 2, 3, 4, 5]